<header class="mui-appbar-height site-appbar mui-z2">

	<div class="mui-container">
		<div style="float: left">
	<a class="site-title" href="#" id="siteBarToggle">
		<h1><img src="{{ site.baseurl }}/img/logo.png" height="36px" width="36px" align="middle">&nbsp;NUI BLOG</h1>
	</a>
	</div>
	</div>
	<div class="mui-container" id="siteBarAction" style="display:none">
		<br/>
		<h2><a href="/about" class="mui-btn mui-btn-default">About me</a></h2>
		<h2><a href="https://facebook.com/ngxson" class="mui-btn mui-btn-default" target="_blank">My Facebook</a></h2>
		<h2><a href="/tag" class="mui-btn mui-btn-default">All Tags</a></h2>
	</div>
	
	<script>
		var appBarMenuShow = false;
		$('#siteBarToggle').click(function () {
			if (!appBarMenuShow) {
				$('#siteBarAction').slideDown();
				appBarMenuShow = true;
			} else {
				$('#siteBarAction').slideUp();
				appBarMenuShow = false;
			}
		});
	</script>

</header>
