---
layout: default
---

<div class="home mui-row">
{% for post in paginator.posts %}
{% if forloop.index == 1 %}
<div class="mui-col-md-12">
{% elsif forloop.index == 2 or forloop.index == 4 %}
<div class="mui-col-md-6">
{% endif %}
    <article class="mui-panel-post">
      <div class="bg-holder {% if post.color %}bg-{{ post.color }}{% endif %}" style="{% if post.cover %}background:url({{post.cover}}) no-repeat center center{% endif %}">
        <h2 class="post-list-title">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {% if post.cover %}<div class="img-overlay"></div>{% endif %}
        <a href="{{ post.url | prepend: site.url }}" class="overlay"></a>
      </div>
      <div class="post-data">
        <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords:24 }}</p>
        <div class="post-meta">
            <time datetime="{{ post.date | date: "%Y-%m-%dT%H:%M" }}"><!--i class="fa fa-calendar"></i-->{{ post.date | date: "%-d tháng %-m, %Y" }}</time>
        </div>
        {% if post.tags and post.tags.size > 0 %}
        <p>
            {% for tag in post.tags %}
            <span class="post-tag"><i class="fa fa-tag"></i>{{ tag }}</span>
            {% endfor %}
        </p>
        {% endif %}
      </div>
    </article>
{% if forloop.index == 1 or forloop.index == 3 or forloop.index == 5 %}
</div>
{% endif %}
{% endfor %}
  <div class="mui-col-md-12">
  <div class="paginator">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="mui-btn mui-btn-primary"><i class="fa fa-chevron-circle-left"></i></a>
    {% endif %}
    <span class="mui-btn mui-btn-primary">Trang số {{ paginator.page }} trên {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="mui-btn mui-btn-primary"><i class="fa fa-chevron-circle-right"></i></a>
    {% endif %}
  </div>
  </div>
  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
  <!--% include sidebar.html %-->
</div>
