---
layout: base
---
<body style="padding: 0">

  <article class="post-full">
    <header class="bg-holder post-page {% if page.color %}bg-{{ page.color }}{% endif %}" style="{% if page.cover %}background:url({{page.cover}}) no-repeat center center; background-size: cover{% endif %}">
      <a href="{{site.url}}/" class="overlay"><i class="fa fa-arrow-left fa-2x"></i></a>
      {% if page.cover %}<div class="img-overlay"></div>{% endif %}
    </header>
    <div class="mui-container mui-panel post-content" style="padding: 20px;">
      <h1 class="article-title"><a href="{{page.url}}">{{ page.title }}</a></h1>
      <!--p class="post-meta">viết bởi <a href="{{ site.url }}">{% if page.author %}{{ page.author }}{% else %}{{ site.full_name }}{% endif %}</a--><time datetime="{{ page.date | date: "%Y-%m-%dT%H:%M" }}"><i class="fa fa-calendar"></i>{{ page.date | date: "%B %-d, %Y" }}</time>
       <span class="sharer">
        Chia sẻ: 
        <a class="sh-fb" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+window.location.href,'_blank','height=300,width=600');return false;"><i class="fa fa-facebook fa-lg"></i></a>
        {% if site.twitter %}
            <a class="sh-twt" href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+window.location.href+'&via={{ site.twitter }}','_blank','height=300,width=600');return false;"><i class="fa fa-twitter fa-lg"></i></a>
        {% else %}
            <a class="sh-twt" href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+window.location.href,'_blank','height=300,width=600');return false;"><i class="fa fa-twitter fa-lg"></i></a>
        {% endif %}
        </span>
      {% if page.tags and page.tags.size > 0 %}
        <p class="post-tag-container">
            {% for tag in page.tags %}
            <span class="post-tag"><i class="fa fa-tag"></i>{{ tag }}</span>
            {% endfor %}
        </p>
      {% endif %}
	  </br></br>
      <div class="post-html">
          {{ content }}
      </div>
	<footer>
	<p>
		{% if page.next.url %}
			Bài tiếp theo:<a class="next" href="{{page.next.url}}">{{page.next.title}}</a></br>
		{% endif %}
		{% if page.previous.url %}
			Bài trước: <a class="prev" href="{{page.previous.url}}">{{page.previous.title}}</a>
		{% endif %}
	</p>
    </footer>
    {% if site.disqus %}
    <!--footer>
      <p><a href="#" id="showComments"><i class="fa fa-comment-o"></i>Comments</a></p>
      <div id="disqus_thread"></div>
    </footer-->
    {% endif %}
    </div>
  </article>

  {% if site.disqus %}
  <script src="/js/script.js"></script>
  {% endif %}

